<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
</head>
<body>
    <h1 class="text-center">COVID-19 DATA</h1>
    
    <form method="post" action="">
        {% csrf_token %}
        <select class="form-control" name="selectedcountry">
            {% for country in countries %}
                <option>{{ country }}</option>
            {% endfor %}
        </select>
            <input type="submit">
    </form>

    {% if not pais == '' %}
        <h1>{{ pais }}</h1>
    {% endif %}
</body>
</html>